body {
  background-color: black;
  font-family: sans-serif;
}

.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

.hidden-first {
  display: none;
}

.show-first {
  display: block;
}

#collapseU5 {
    text-align: center;
}

#collapseU6 {
    text-align: center;
}

#collapseU7 {
    text-align: center;
}

#collapseU8 {
    text-align: center;
}

#collapseU9 {
    text-align: center;
}

#collapseU10 {
  text-align: center;
}

#header {
  text-align: center;
}

#sidePanel {
  background-color: black;
  text-decoration: none;
}

#base_text {
  font-size: 2em;
  color: white;
}

#infoScreen {
  text-align: center;
  width: 100%;
  height: 100%;
}

.table {
  margin: 0 0 0 0;
}

a {
  color: black;
}

a:visited {
  color: black;
}

#kidCV {
  width: 100%;
}

#infoDiv {
  padding: 0%;
  background-color: white;
  display: none;
}

#selectDiv {
  color: white;
}

#EvalTable {
  padding: 0%;
  background-color: white;
}

.navButton {
  color: white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  text-decoration: none;
}

.addButton {
  color: black;
}

th {
  background-color: black;
  color: white;
}

.infoTable th {
  background-color: white;
  color: black;
}

.infoTable tr td:nth-child(odd) {
  background-color: red;
  color: white;
  font-weight: bold;
}

.infoTable td {
  text-align: center;
}

#infoDiv table {
  text-align: left;
}

.imageCell {
  text-align: center;
}

.popover-title {
  background-color: black;
  text-align: center;
}

.popover-content {
  background-color: black;
  text-align: center;
}

.question-image {
  float: right;
  height: 50px;
  width: auto;
}

#titleHeading {
  color: white;
}

.section-space {
  margin-top: 20px;
}

.section-space-sm {
  margin-top: 5px;
}

.section-space-md {
  margin-top: 30px;
}

.section-space-lg {
  margin-top: 50px;
}

.error {
  border: 2px solid red;
  color: red;
}

.errorText {
  color: red;
  font-size: 1em;
  border: none;
}

#errorP {
  display: none;
  margin: 0 0 0 0;
}

#invalidMsg {
  display: none;
}

.success {
  color: #25A948;
  border: 2px solid #25A948;
}

#loaderGif {
  display: none;
}

#loadingMessage {
  display: none;
}

#successMessage {
  display: none;
}

#failureMessage {
  display: none;
}

.attrTable td {
  color: white;
}

.attrTable .glyphicon-ok {
  color: #25A948;
}

.attrTable .glyphicon-remove {
  color: #CE3131;
}

.attrTable .glyphicon-pencil {
  color: #E4D746;
  float: right;
}

.jumbotron {
  color: white;
  position: relative;
  height: 100vh;
  text-align: center;
  margin: 0 0 0 0;
  background-image: url("../images/grass.jpg");
  background-size: cover;
}

#logoSmall {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table-cell;
  vertical-align: bottom;
}

#separate {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: #D9D9D9;
  height: 1px;
}

#scroll {
  padding: 50px 0;
  bottom: 20px;
}

#scroll a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#scroll a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

#scrollSmall a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.section {
  text-align: center;
  padding: 40px 0;
  color: white;
}


.lightSection {
  background-color: #E1E1E1;
  color: black;
}

.blueSection {
  background-color: #0659A6;
}

.redSection {
  background-color: #B31717;
}

#howItWorks {
  background-color: black;
}

#screenshot {
  width: 100%;
  height: auto;
  border: 2px solid #41973C;
}

#summary {
  color: white;
  text-align: center;
  background-color: #41973C;
  padding: 40px 0;
}

.bigIcon {
  font-size: 2em;
}

#termsAndConditions {
  color: white;
}

#termsAndConditions a:visited{
  color: white;
  text-decoration: none;
}

#practiceEval table tr:nth-child(even) {
  background-color: #EDEBEB;
}

#gamesEval table tr:nth-child(even) {
  background-color: #EDEBEB;
}

#tournamentEval table tr:nth-child(even) {
  background-color: #EDEBEB;
}

#sharedTable {
     background-color: #ffffff;
     text-align: center;
}

.editButton .glyphicon-pencil {
  padding-left: 50px;
}

#evalAttriTable {
    color: white;
    background-color: black;
    text-align: left;
}

/* Slider CSS */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 4px #000000;
  background: #32DB6B;
  border-radius: 0px;
  border: 0px solid #32DB6B;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 10px #000031;
  border: 0px solid #0B1E18;
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #32DB6B;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 4px #000000;
  background: #32DB6B;
  border-radius: 0px;
  border: 0px solid #32DB6B;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 10px #000031;
  border: 0px solid #0B1E18;
  height: 12px;
  width: 12px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #32DB6B;
  border: 0px solid #32DB6B;
  border-radius: 0px;
  box-shadow: 0px 0px 4px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #32DB6B;
  border: 0px solid #32DB6B;
  border-radius: 0px;
  box-shadow: 0px 0px 4px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 10px #000031;
  border: 0px solid #0B1E18;
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #32DB6B;
}
input[type=range]:focus::-ms-fill-upper {
  background: #32DB6B;
}
.canvasjs-chart-credit {
    display: none;
}
