
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Player</div>
    <div class="right">
      <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
    </div>
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="form" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block-title">Player Evaluation</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-settings"></i></div>
              <div class="item-inner">
                <div class="item-title label">Attendence</div>
                <div class="item-input">
                  <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" step="0.1"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">Comment</div>
                <div class="item-input">
                  <textarea></textarea>
                </div>
              </div>
            </div>
          </li>
		   <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-settings"></i></div>
              <div class="item-inner">
                <div class="item-title label">Attitude</div>
                <div class="item-input">
                  <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" step="0.1"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">Comment</div>
                <div class="item-input">
                  <textarea></textarea>
                </div>
              </div>
            </div>
          </li>
		   <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-settings"></i></div>
              <div class="item-inner">
                <div class="item-title label">Ability</div>
                <div class="item-input">
                  <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" step="0.1"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner"> 
                <div class="item-title label">Comment</div>
                <div class="item-input">
                  <textarea></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <div class="row">
          <div class="col-50"><a href="#" class="button button-big button-fill color-red">Cancel</a></div>
          <div class="col-50">
            <input type="submit" value="Submit" class="button button-big button-fill color-green"/>
          </div>
        </div>
      </div>
      <div class="content-block-title">Checkbox group</div>
      <div class="list-block">
        <ul>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Right-Foot</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Movies"/>
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Left-Foot</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="ks-checkbox" value="Food"/>
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">Speed</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>